body {
  font-family: "papyrus";
  font-size: 40px;
}

.bg-color {
  background-color: rgb(156, 248, 183);
}

#popup-box {
  z-index: 1;
  position: absolute;
  top: 30%;
  left: 25%;
  width: 50%;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.74);
}

#popup-box button {
  font-size: 1.9rem;
  border-radius: 10%;
}

.border-bot {
  border-bottom: 10px solid black;
}

.t-row {
  height: 150px;
}

.t-row td {
  width: 33.333%;
  text-align: center;
  vertical-align: middle;
}

.t-row td:hover {
  /* background-color: rgb(255, 225, 230); */
  /* cursor: pointer; */
}

.t-row .border-rig {
  border-right: 10px solid black;
}

.t-row img {
  width: 50%;
}

.vertical-align {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#scoreboard {
  font-size: x-large;
  position: absolute;
  top: 25%;
}

.blurred {
  /* Any browser which supports CSS3 */
  filter: blur(5px);
  /* Firefox version 34 and earlier */
  filter: url("blur.svg#gaussian_blur");
  /* Webkit in Chrome 52, Safari 9, Opera 39, and earlier */
  -webkit-filter: blur(5px);
}
